body {
    margin: 0px;
}

/*Mobile content view*/
#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(150px, auto);
    margin: 0 auto;
    max-width: 960px;
    grid-template-areas:
    "entry"
    "people"
    "teams"
    "adjudicators"
    "command"
    "results";
}

.entry {
    grid-area: entry;
    padding: 20px;
    background: linear-gradient(#1439e0, #102ca5);
    color: white;
    z-index: 1;
    box-shadow: 0px 5px 20px rgb(51, 51, 51);
}

.people {
    grid-area: people;
    padding: 20px;
    background: linear-gradient(#f5f5f5, rgb(226, 226, 226));
    border-bottom: 2px solid #1439e0;
    box-shadow: 5px 5px 20px rgb(51, 51, 51);
}

.command {
    grid-area: command;
    background: #1439e0;
    box-shadow: 5px 5px 20px rgb(51, 51, 51);
    border-bottom: 2px solid white;
}

#positsioonid {
    background: transparent;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.teams {
    grid-area: teams;
    padding: 20px;
    background: linear-gradient(whitesmoke, rgb(226, 226, 226));
    border-bottom: 2px solid #1439e0;
    box-shadow: 5px 5px 20px rgb(51, 51, 51);
}

/*Bigger screens*/
@media screen and (min-width: 760px) {
    #content {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-template-areas:
        "entry people teams adjudicators"
        "entry people teams adjudicators"
        "entry command results results"
        "entry command results results"
        ". . footer footer";
    }

    .people {
        border-right: 2px solid #1439e0;
        border-bottom: none;
    }

    .command {
        border-right: 2px solid white;
        box-shadow: 5px 5px 20px rgb(51, 51, 51);
        background: linear-gradient(#1439e0, #102ca5);
        border-bottom: none;
    }

    .teams {
        border-right: 2px solid #1439e0;
        border-bottom: none;
    }
}

#content > * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.entry h1 {
    font-weight: bold;
    text-align: center;
}

.entry input {
    color: white;
    font-size: 16px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    caret-color: white;
    width: 100%;
}

#beginnerChkbox {
    margin-top: 15px;
    transform: scale(2);
    outline: none;
    width: 10px;
    margin-right: 15px;
}

.entry label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.entry button {
    background: transparent;
    color: white;
    border: none;
    font-size: 22px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.people h2 {
    color: #1439e0;
    margin-top: 0px;
    text-align: center;
}

.people p {
    color: #1439e0;
    margin: 5px;
}

.teams h2 {
    color: #1439e0;
    margin-top: 0px;
    text-align: center;
}

.adjudicators {
    grid-area: adjudicators;
    padding: 20px;
    background: linear-gradient(whitesmoke, rgb(226, 226, 226));
    box-shadow: 5px 5px 20px rgb(51, 51, 51);
}

.adjudicators h2 {
    color: #1439e0;
    margin-top: 0px;
    text-align: center;
}

.results {
    grid-area: results;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: minmax(101px, auto);
    background: linear-gradient(#1439e0, #102ca5);
    box-shadow: 5px 5px 20px rgb(51, 51, 51);
    grid-template-areas:
    "og oo"
    "cg co"
    "adj adj";
}

.og {
    grid-area: og;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.og p, h4 {
    margin: 5px;
    color: white;
}

.oo {
    grid-area: oo;
    border-bottom: 2px solid white;
}

.cg {
    grid-area: cg;
    border-right: 2px solid white;
}

.co {
    grid-area: co;
}

.adj {
    grid-area: adj;
    border-top: 2px solid white;
}

.footer {
    grid-area: footer;
}

.footer p {
    margin: -10px;
    text-align: right;
}

